
@model HMS.Models.ViewModels.Reception.PatientRegistrationAKTViewModel

@{
    ViewData["Title"] = "PatientRegistrationDetails";
    Layout = "~/Views/Shared/_HMSMainLayout.cshtml";

    var photoPath = "~/images/PatientRegistrationImages/" +
(Model.PatientRegistration.PhotoPath ?? (Model.PatientRegistration.Gender.ToLower().Trim() == "Male".ToLower().Trim() ? "MalePatient.jpg" : "FemalePatient.png"));
}

@{
    <style>
        .row {
            margin-bottom: 3px;
        }

        label {
            font-weight: bold;
        }

        h5 {
            text-decoration: underline;
        }

        .accordion .fa {
            margin-right: 0.5rem;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            top: 2px;
        }

        div.collapseHeader h5 {
            width: 100%;
            border: 1px solid;
        }

            div.collapseHeader h5 a {
                width: 100%;
                text-align: start;
            }
    </style>

}


@section LeftSideMenu{
    <partial name="_ReceptionLeftSideMenuPartial" />
}

@section CurrentPageNavigation{
    <h4 class="page-title float-left">Reception</h4>

    <ol class="breadcrumb float-right">
        <li class="breadcrumb-item"><a asp-action="MainMenu" asp-controller="HmsMenu" asp-area="Menu">Patient Registration Details</a></li>
        @*<li class="breadcrumb-item"><a href="#">Update Registration</a></li>*@
    </ol>
}



<input hidden asp-for="PatientRegistration.Reg_Id" id="PatientRegId" />
<input hidden asp-for="PatientRegistration.PhotoPath" />
<input hidden name="RegName"
       value="@ViewBag.RegName" id="regName" />
<div asp-validation-summary="ModelOnly"></div>
<div class="">

    <div class="card-box">
        <div class="row my-3">
            <div class="col-2">
                <div style="position:relative; width:120px; height:120px;">
                    <img src="@photoPath" asp-append-version="true" style="position:absolute; width:100%; height:100%; top:0; border:1px solid #000000; border-radius:5px;" />
                </div>
            </div>
            <div class="col-2 offset-8">
                <h4 id="headerRegName">@ViewBag.RegName</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">MR No:</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input readonly type="text" asp-for="PatientRegistration.MRNo" id="txtMRNo"
                                   class="form-control input-sm" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Reg: Date</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <span style="position: absolute; top: -18px; left: 10px;">mm/dd/yy</span>
                            <input type="text" asp-for="PatientRegistration.RegDate"
                                   id="txtRegDate" class="form-control input-sm" value="@Model.PatientRegistration.RegDate.FormattedDateString()" readonly />
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="col-4">
                    <div class="row">
                        <div class="ml-2">
                            <label>Outpatient</label>
                            <input type="radio" id="rdoOptPatient" value="OutPatient"
                                   asp-for="PatientRegistration.OptIpt" />
                        </div>
                        <div class="ml-2">
                            <label> Inpatient</label>
                            <input type="radio" id="rdoInpatient" value="InPatient"
                                   asp-for="PatientRegistration.OptIpt" />
                        </div>
                    </div>
                </div>*@
        </div>
    </div>

    <hr />
    <div class="card-box">
        <h5>
            Patient Information
        </h5>

        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Prefix</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input asp-for="PatientRegistration.PatientPrefix"
                                   class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">First Name</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input type="text" asp-for="PatientRegistration.PatientFirstName"
                                   class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Middle Name</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input type="text" asp-for="PatientRegistration.PatientMiddleName" class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Last Name</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input type="text" asp-for="PatientRegistration.PatientLastName"
                                   class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Father's Name</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input type="text" asp-for="PatientRegistration.FatherName"
                                   class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Mobile 1</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input type="text" asp-for="PatientRegistration.PatientMobile1"
                                   class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Gender</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input asp-for="PatientRegistration.Gender" class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Date of Birth</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            @{
                                string dob = Model.PatientRegistration.DOB.HasValue ? Model.PatientRegistration.DOB.Value.FormattedDateString() : "";
                            }
                            <input asp-for="PatientRegistration.DOB" type="text" value="@dob"
                                   class="form-control input-sm" id="txtDob" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Age (Yrs)</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input type="text" asp-for="PatientRegistration.Age" readonly
                                   class="form-control input-sm" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Marital Status</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input asp-for="PatientRegistration.MaritalStatus"
                                   class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>

                @*<div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Date of Birth</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input type="date" asp-for="PatientRegistration.DOB" class="form-control input-sm" />
                                <span asp-validation-for="PatientRegistration.DOB" class="text-danger"></span>
                            </div>
                        </div>
                    </div>*@

            </div>

            <div class="col-4">

                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Mobile 2</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input type="text" asp-for="PatientRegistration.PatientMobile2"
                                   class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Occupation</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input asp-for="PatientRegistration.Occupation" readonly
                                   class="form-control input-sm" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Email</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input type="text" asp-for="PatientRegistration.Email" class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Nationality</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            @*<select asp-for="PatientRegistration.Nationality" id="ddlNationality"
                                        class="form-control input-sm" asp-items="@(new SelectList(Model.Nationalities,"NationalityName","NationalityName"))" )">
                                    <option value="">--Select Nationality--</option>
                                </select>*@
                            <input asp-for="PatientRegistration.Nationality" class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label class="">Alias Name</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <input type="text" asp-for="PatientRegistration.AliasName"
                                   class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="row ml-3">
                    <div class="ml-2">
                        <label>NRC</label>
                        <input asp-for="PatientRegistration.PatientIdentityType" value="NRC" type="radio" readonly
                               id="rdoNRC" />
                    </div>
                    <div class="ml-2">
                        <label> Driving Licence</label>
                        <input asp-for="PatientRegistration.PatientIdentityType" value="Driving Licence" readonly
                               type="radio" id="rdoDriveLicence" />
                    </div>
                    <div class="ml-2">
                        <label> Passport </label>
                        <input asp-for="PatientRegistration.PatientIdentityType" value="Passport" readonly
                               type="radio" id="rdoPassport" />
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        <input type="text" asp-for="PatientRegistration.PatientIdentityNo"
                               class="form-control input-sm" readonly />
                    </div>
                </div>
            </div>
            <div class="col-2 offset-2">
                <div class="row">
                    <div class="col-12"><label style="color:transparent;">1 </label></div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <input asp-for="PatientRegistration.Confidential" type="checkbox" readonly />
                        <label>Confidential</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="">
                    <label class="">Remarks </label><span class="text-danger">*</span>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <textarea class="form-control" id="UpdateRemarks" asp-for="PatientRegistration.UpdateRemarks" rows="4" readonly></textarea>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="accordion card-box w-100">
        <div class="collapseHeader" id="collapseHeaderReferalHospital">
            <div class="row">
                <h5 class="mb-0">
                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseReferalHospital"><i class="fa fa-angle-right"></i> Referral</a>
                </h5>
            </div>
        </div>
        <div id="collapseReferalHospital" class="collapse" aria-labelledby="collapseHeaderReferalHospital" data-parent="#collapseHeaderReferalHospital">

            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-5">
                            <label class="">Hospital</label>
                        </div>
                        <div class="col-7">
                            <input asp-for="PatientRegistration.ReferalHospitalName" class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="row">
                        <div class="col-5">
                            <label class="">Doctor's Name</label>
                        </div>
                        <div class="col-7">
                            <input asp-for="PatientRegistration.FromReferalDoctorName" class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="row">
                        <div class="col-5">
                            <label class="">Ref.ToConsultant</label>
                        </div>
                        <div class="col-7">
                            <input asp-for="PatientRegistration.ToReferalDoctorName" class="form-control input-sm" readonly />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <label class="">Referral Remarks</label>
                        </div>
                        <div class="col-12">
                            <textarea asp-for="PatientRegistration.ReferalRemarks" class="form-control input-sm" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr />

    <div class="accordion card-box w-100">
        <div class="collapseHeader" id="collapseHeaderContactDetails">
            <div class="row">
                <h5 class="mb-0">
                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseContactDetails"><i class="fa fa-angle-right"></i> Contact Details</a>
                </h5>
            </div>
        </div>
        <div id="collapseContactDetails" class="collapse" aria-labelledby="collapseHeaderContactDetails" data-parent="#collapseHeaderContactDetails">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">House No:</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input type="text" asp-for="PatientRegistration.HouseNo" class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Street</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input type="text" asp-for="PatientRegistration.Street" class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Country</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input asp-for="PatientRegistration.Country" readonly
                                       class="form-control input-sm" />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-4">
                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">State</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input asp-for="PatientRegistration.State" class="form-control input-sm" readonly />

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Township</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input asp-for="PatientRegistration.Township" readonly
                                       class="form-control input-sm" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        <input asp-for="PatientRegistration.CorrespondAddress" type="checkbox" readonly />
                        <label>Correspondance address same as above.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="accordion card-box w-100">
        <div class="collapseHeader" id="collapseHeaderKinDetails">
            <div class="row">
                <h5 class="mb-0">
                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseKinDetails"><i class="fa fa-angle-right"></i> Next Of Kin Details</a>
                </h5>
            </div>
        </div>
        <div id="collapseKinDetails" class="collapse" aria-labelledby="collapseHeaderKinDetails" data-parent="#collapseHeaderKinDetails">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Relationship</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input asp-for="PatientRegistration.KinRelationship"
                                       class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Prefix</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input asp-for="PatientRegistration.KinPrefix"
                                       class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">First Name</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input type="text" asp-for="PatientRegistration.KinFirstName" class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Middle Name</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input type="text" asp-for="PatientRegistration.KinMiddleName"
                                       class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Last Name</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input type="text" asp-for="PatientRegistration.KinLastName"
                                       class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Mobile 1</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input asp-for="PatientRegistration.KinMobile1"
                                       class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Mobile 2</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input asp-for="PatientRegistration.KinMobile2"
                                       class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="accordion card-box w-100">
        <div class="collapseHeader" id="collapseHeaderEmergencyContact">
            <div class="row">
                <h5 class="mb-0">
                    <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEmergencyContact"><i class="fa fa-angle-right"></i> Emergency Contact</a>
                </h5>
            </div>
        </div>
        <div id="collapseEmergencyContact" class="collapse" aria-labelledby="collapseHeaderEmergencyContact" data-parent="#collapseHeaderEmergencyContact">
            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Contact Person</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input asp-for="PatientRegistration.EmgContactPerson"
                                       class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Relationship</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input asp-for="PatientRegistration.EmgRelationship"
                                       class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Mobile 1</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input asp-for="PatientRegistration.EmgMobile1"
                                       class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-5">
                            <div class="">
                                <label class="">Mobile 2</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <input asp-for="PatientRegistration.EmgMobile2"
                                       class="form-control input-sm" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @{
        #region PendingServiceFees
    }
    @*<div class="card-box w-100">
            <div class="row mt-3">
                <div class="col-3 text-center  align-content-center">
                    <div>
                        <label>Service Fee</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <table class="table table-striped table-bordered toggle-circle m-b-0 " id="regFeeTable" style="width:100%;/*min-width:1107px;*/">
                    <thead class="">
                        <tr class="text-center">
                            <th class="">
                                No.
                            </th>
                            <th class="">
                                Service Name
                            </th>
                            <th class="">
                                Amount
                            </th>
                            <th class="">
                                FOC
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>*@
    @{
        #endregion
    }

    @*<div class="card-box w-100">
            <div class="row mt-3">
                <div class="col-3 text-center align-content-center">
                    <div>
                        <label>Service Fee</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <table class="table table-striped table-bordered toggle-circle m-b-0 " id="regFeeTable" style="/*min-width:1107px;*/">
                    <thead class="">
                        <tr class="">
                            <th class="">
                                No.
                            </th>
                            <th class="">
                                Service Name
                            </th>
                            <th class="">
                                Amount
                            </th>
                            <th class="">
                                FOC
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>*@

    @*<input hidden asp-for="PatientRegistration.RegTotalAmmount" id="txtTotalAmmount" />*@
    @*<input hidden name="registrationFees" id="txtserviceFees" />*@


    <div class="footerBtnRow">

        @if ((await authorizationService.AuthorizeAsync(User, "PatientRegistrationUpdate")).Succeeded)
        {
            <a class="btn btn-primary regPageButtonWidth" asp-action="PatientRegistrationUpdate" asp-route-patientRegId="@Model.PatientRegistration.Reg_Id">Edit</a>
        }

        <input type="button" data-toggle="modal" data-target="#printRegistrationModal" id="btnPrint" value="To Print" class="btn btn-success regPageButtonWidth" />

        @if ((await authorizationService.AuthorizeAsync(User, "DoctorAppointmentCreate")).Succeeded)
        {
            <a class="btn btn-success regPageButtonWidth" asp-area="Reception" asp-controller="DoctorAppointment" asp-action="DoctorAppointment"
               asp-route-patientRegId="@Model.PatientRegistration.Reg_Id">Create Appointment</a>
        }

        @if ((await authorizationService.AuthorizeAsync(User, "PatientRegistrationCreate")).Succeeded)
        {
            <a class="btn btn-secondary regPageButtonWidth" asp-area="Reception" asp-controller="PatientRegistration" asp-action="PatientRegistrationCreate">New Registration</a>
        }
        @if ((await authorizationService.AuthorizeAsync(User, "PatientRegistrationView")).Succeeded)
        {
            <a class="btn btn-outline-secondary" asp-action="ViewAllRegisteredPatients">Registered Patient List</a>
        }
    </div>

</div>


@section Scripts{

    <script>
        $(document).ready(function () {

            // Add down arrow icon for collapse element which is open by default
            $(".collapse.show").each(function () {
                $(this).prev(".card-header").find(".fa").addClass("fa-angle-down").removeClass("fa-angle-right");
            });

            // Toggle right and down arrow icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function () {
                $(this).prev(".collapseHeader").find(".fa").removeClass("fa-angle-right").addClass("fa-angle-down");
            }).on('hide.bs.collapse', function () {
                $(this).prev(".collapseHeader").find(".fa").removeClass("fa-angle-down").addClass("fa-angle-right");
            });

        });
    </script>

}




