@model HMS.Models.ViewModels.Administration.StateViewModel


@{
    ViewData["Title"] = "State";
    Layout = "~/Views/Shared/_HMSMainLayout.cshtml";
}
@{
    var oldCountry = "";
}

@section CurrentPageNavigation{
    <h4 class="page-title float-left">Setting</h4>

    <ol class="breadcrumb float-right">
        <li class="breadcrumb-item"><a href="#">State</a></li>
    </ol>
}

@section LeftSideMenu{
    <partial name="_AdminSettingLeftSideMenuPartial" />
}
@{
    <style>
        .btn-default {
            width: 60px;
            background-color: lightgreen;
        }

        .btn-cancel {
            width: 70px;
            background-color: lightcoral;
        }
       

    .btnSaveSubmitToggle{
        display: @(Model.State_id == null || Model.State_id.Value == 0 ? "" : "none")
    }
    .btnUpdateSubmitToggle{
        display: @(Model.State_id == null || Model.State_id.Value == 0 ? "none" : "")
    }
    </style>
}

<div class="row">
    <div class="col-4 p-2 my-2 bg-light">
        <div class="card-box">
            <form asp-action="State" method="post" id="formState">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="State_id" class="resetInputValue" />

                <div class="form-group">
                    <label asp-for="CountryId" class="control-label">Country Name</label>
                    <select asp-for="CountryId" class="form-control  input-sm resetInputValue" asp-items='@(new SelectList(Model.CountryList,"Cty_id","Cty_name"))'>
                        <option value="">--Select Country--</option>
                    </select>
                    <span asp-validation-for="CountryId" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="State_name" class="control-label"> State Name</label>
                    <input asp-for="State_name" class="form-control input-sm resetInputValue" />
                    <span asp-validation-for="State_name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @if ((await authorizationService.AuthorizeAsync(User, "StateUpdate")).Succeeded)

                    {
                        <button type="submit" id="btnUpdateSubmit" name="btnSubmit" value="Update" class="btn btn-success btnUpdateSubmitToggle">Update</button>
                    }

                    @if ((await authorizationService.AuthorizeAsync(User, "StateCreate")).Succeeded)

                    {
                        <button type="submit" id="btnSaveSubmit" name="btnSubmit" value="Create" class="btn btn-success btnSaveSubmitToggle">Save</button>
                    }

                    <button type="button" class="btn btn-secondary" onclick="ResetFormAndShowHideBtnSubmit('form#formState');">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-8 p-2 my-2 bg-light">
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <div class="form-inline m-b-20">
                        <div class="row" style=" width: 48rem;">
                            <div class="col-md-6 text-xs-center" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label m-r-5">Status</label>
                                    <select id="demo-foo-filter-status" class="form-control input-sm">
                                        <option value="">Show all</option>
                                        <option value="active">Active</option>
                                        <option value="disabled">Disabled</option>
                                        <option value="suspended">Suspended</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 text-center ">
                                <div class="form-group ">
                                    <input id="demo-foo-search" type="text" placeholder="Search" class="form-control input-sm col-10" autocomplete="on">
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="demo-foo-filtering" class="table table-striped table-bordered toggle-circle m-b-0" data-page-size="7">
                        <thead>
                            <tr>
                                <th>
                                    No.
                                </th>

                                <th>
                                    CountryName
                                </th>
                                <th>
                                    StateName
                                </th>

                                @if ((await authorizationService.AuthorizeAsync(User, "StateUpdate")).Succeeded
                        || (await authorizationService.AuthorizeAsync(User, "StateDelete")).Succeeded)
                                {
                                    <th class="text-center"><b>Action</b></th>
                                }
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.StateList.Select((value, i) => new { value, i }))
                            {
                                string stateJsonData = Newtonsoft.Json.JsonConvert.SerializeObject(item.value);
                                <tr>
                                    <td>
                                        @(item.i + 1)
                                    </td>




                                    @if (oldCountry != null)
                                    {
                                        <td>
                                            @if (oldCountry != item.value.Country.Cty_name)
                                            {
                                                @Html.DisplayFor(modelItem => item.value.Country.Cty_name)
                                                oldCountry = item.value.Country.Cty_name;
                                            }
                                        </td>

                                    }
                                    @*<td>
                                          @item.value.Country.Cty_name
                                    </td>*@
                                    <td>
                                        @item.value.State_name

                                    </td>


                                    <td class="text-center">
                                        @if ((await authorizationService.AuthorizeAsync(User, "StateUpdate")).Succeeded)
                                        {
                                            <button class="btn btn-outline-primary" onclick="TableRowEditClick(@stateJsonData);"><i class="fa fa-edit"></i></button>
                                        }
                                        @if ((await authorizationService.AuthorizeAsync(User, "StateDelete")).Succeeded)
                                        {
                                            <button class="btn btn-outline-danger" onclick="TableRowDeleteClick('@item.value.State_id', '@($"Are You Sure To Delete State Name ({item.value.State_name})")')"><i class="fa fa-trash-alt"></i></button>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="active">
                                <td colspan="5">
                                    <div class="text-right">
                                        <ul class="pagination pagination-split footable-pagination m-t-10 m-b-0"></ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
@{
    ViewData["DeleteConfirmPolicyName"] = "StateDelete";
    ViewData["DeleteConfirmActionName"] = "State";
    ViewData["DeleteConfirmControllerName"] ="State";
    ViewData["DeleteConfirmAreaName"] = "Administration";
    ViewData["DeleteConfirmParameterName"] = "ToDeleteId";
}

<partial name="_DeleteConfirmPartial" view-data="ViewData" />


@section Scripts{

    <!-- Counter js  -->
    <script src="~/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>


    <!--FooTable-->
    <script src="~/plugins/footable/js/footable.all.min.js"></script>

    <!--FooTable Example-->
    <script src="~/pages/jquery.footable.js"></script>
    <script>
        jQuery.validator.addMethod("isuniquestate",
            function (value, element, param) {
                var tblJsonData = @Html.Raw(Json.Serialize(Model.StateList));
                var id = $("#State_id").val().trim();
                var isCreate = id == null || id == "" || id == "0";
                var message = $(element).attr('data-val-isuniquestate');
                $.validator.messages.isuniquestate = $.validator.format(message, value);
                if (isCreate) {
                    return tblJsonData.filter(d => StringCompareFormat(d.state_name) == StringCompareFormat(value)).length == 0;
                } else {
                    return tblJsonData.filter(d => StringCompareFormat(d.state_name) == StringCompareFormat(value) && StringCompareFormat(d.state_id) != StringCompareFormat(id)).length == 0;
                }
            });

        $.validator.unobtrusive.adapters.add('isuniquestate',
            function (options) {
                options.rules['isuniquestate'] = options.params;
                if (options.message != null) {
                    $.validator.messages.isuniquestate = options.message;
                }
            }
        );


        $(document).ready(function () {
             var successedAlertMessage = "@ViewBag.SuccessedAlertMessage";
            AlertSnackBarByActionName(successedAlertMessage);

            @*var actionName = "@Model.BtnActionName";
            if (actionName== "Delete") {
                $("#StateName").attr("readonly", true);
                $("#CountryId").attr("disabled", true);d
            }*@
        });
    </script>
}


