@model HMS.Models.ViewModels.Administration.UnitOfMeasurementViewModel
@{
    ViewData["Title"] = "UnitOfMeasurement";
    //Layout = "~/Views/Shared/_HMSMainLayout.cshtml";
}

@section CurrentPageNavigation{
    <h4 class="page-title float-left">Admin</h4>

    <ol class="breadcrumb float-right">
        <li class="breadcrumb-item"><a href="#">Department</a></li>
        @*<li class="breadcrumb-item"><a href="#">Register</a></li>*@
    </ol>
}

@section LeftSideMenu{
    <partial name="_AdminSettingLeftSideMenuPartial" />
}
@{
    <style>
        .btn-default {
            width: 60px;
            background-color: lightgreen;
        }

        .btn-cancel {
            width: 70px;
            background-color: lightcoral;
        }
        .btnUpdateSubmitToggle{
            display: @(Model.UnitOfMeasurementId == null || Model.UnitOfMeasurementId.Value == 0 ? "none" : "")
        }

        .btnSaveSubmitToggle{
            display: @(Model.UnitOfMeasurementId == null || Model.UnitOfMeasurementId.Value == 0 ? "" : "none")
        }
    </style>
}

<div class="row">
    <div class="col-4 p-2 my-2 bg-light separateScrollFullHeight">
        <div class="col-12 card-box">
            <form asp-action="UnitOfMeasurement" id="formUOM" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UnitOfMeasurementId" class="resetInputValue" />
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control input-sm resetInputValue" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control input-sm resetInputValue" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @if ((await authorizationService.AuthorizeAsync(User, "UnitOfMeasurementUpdate")).Succeeded)
                    {
                        <button id="btnUpdateSubmit" type="submit" name="btnSubmit" value="Update" class="btn btn-success btnUpdateSubmitToggle">Update</button>
                    }
                    @if ((await authorizationService.AuthorizeAsync(User, "UnitOfMeasurementUpdate")).Succeeded)
                    {
                        <button id="btnSaveSubmit" type="submit" name="btnSubmit" value="Create" class="btn btn-success btnSaveSubmitToggle">Save</button>
                    }
                    <button id="btnCancel" type="button" class="btn btn-secondary" onclick="ResetFormAndShowHideBtnSubmit('form#formUOM')">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-8 p-2 my-2 bg-light separateScrollFullHeight">
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <table id="demo-foo-filtering" class="table table-striped table-bordered toggle-circle m-b-0" data-page-size="7">
                        <thead>
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                   Code
                                </th>
                                @if ((await authorizationService.AuthorizeAsync(User, "UnitOfMeasurementUpdate")).Succeeded
|| (await authorizationService.AuthorizeAsync(User, "UnitOfMeasurementDelete")).Succeeded)
                                {
                                    <th class="text-center thActionMinwidth"><b>Action</b></th>
                                }
                            </tr>
                        </thead>
                        <div class="form-inline m-b-20">
                            <div class="row" style=" width: 48rem;">
                                <div class="col-md-6 text-xs-center" style="display:none;">
                                    <div class="form-group">
                                        <label class="control-label m-r-5">Status</label>
                                        <select id="demo-foo-filter-status" class="form-control input-sm">
                                            <option value="">Show all</option>
                                            <option value="active">Active</option>
                                            <option value="disabled">Disabled</option>
                                            <option value="suspended">Suspended</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center ">
                                    <div class="form-group ">
                                        <input id="demo-foo-search" type="text" placeholder="Search" class="form-control input-sm col-10" autocomplete="on">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <tbody>
                            @foreach (var item in Model.UnitOfMeasurements.Select((value, i) => new { value, i }))
                            {
                                string uomData = Newtonsoft.Json.JsonConvert.SerializeObject(item.value);
                                @*<input type="hidden" asp-for="PageNamesInModule.PageNamesInModuleId" />*@
                                <tr>
                                    <td>
                                        @((item.i + 1).ToString())
                                    </td>
                                    <td>
                                        @item.value.Description
                                    </td>
                                    <td>
                                        @item.value.Code
                                    </td>
                                    @if ((await authorizationService.AuthorizeAsync(User, "UnitOfMeasurementUpdate")).Succeeded
|| (await authorizationService.AuthorizeAsync(User, "UnitOfMeasurementDelete")).Succeeded)
                                    {
                                        <td style="text-align: center">
                                            @if ((await authorizationService.AuthorizeAsync(User, "UnitOfMeasurementUpdate")).Succeeded)
                                            {
                                                <button onclick="TableRowEditClick(@uomData)" class="btn btn-outline-primary">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            }

                                            @if ((await authorizationService.AuthorizeAsync(User, "UnitOfMeasurementUpdate")).Succeeded
                                           && (await authorizationService.AuthorizeAsync(User, "UnitOfMeasurementDelete")).Succeeded)
                                            {
                                                <span>|</span>
                                            }
                                            @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a> |*@
                                            @if ((await authorizationService.AuthorizeAsync(User, "UnitOfMeasurementDelete")).Succeeded)
                                            {
                                                <button onclick="TableRowDeleteClick('@item.value.UnitOfMeasurementId')" class="btn btn-outline-danger">
                                                    <i class="fa fa-trash-alt"></i>
                                                </button>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="active">
                                <td colspan="5">
                                    <div class="text-right">
                                        <ul class="pagination pagination-split footable-pagination m-t-10 m-b-0"></ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

            </div>
        </div>
@{
    ViewData["DeleteConfirmPolicyName"] = "UnitOfMeasurementDelete";
    ViewData["DeleteConfirmActionName"] = "UnitOfMeasurement";
    ViewData["DeleteConfirmControllerName"] = "UnitOfMeasurement";
    ViewData["DeleteConfirmAreaName"] = "Administration";
    ViewData["DeleteConfirmParameterName"] = "toDeleteUOMId";
}

<partial name="_DeleteConfirmPartial" view-data="ViewData" />

@section Scripts{
    <!-- Counter js  -->
    <script src="~/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>


    <!--FooTable-->
    <script src="~/plugins/footable/js/footable.all.min.js"></script>

    <!--FooTable Example-->
    <script src="~/pages/jquery.footable.js"></script>

    <script>
        jQuery.validator.addMethod("isuniqueuomcode",
            function (value, element, param) {
                var tblJsonData = @Html.Raw(Json.Serialize(Model.UnitOfMeasurements));
                var id = $("#UnitOfMeasurementId").val().trim();
                var isCreate = id == null || id == "" || id == "0";
                var message = $(element).attr('data-val-isuniqueuomcode');
                $.validator.messages.isuniqueuomcode = $.validator.format(message, value);
                if (isCreate) {
                    return tblJsonData.filter(d => StringCompareFormat(d.code) == StringCompareFormat(value)
                        || StringCompareFormat(d.description) == StringCompareFormat(value)).length == 0;
                } else {
                    return tblJsonData.filter(d => (StringCompareFormat(d.code) == StringCompareFormat(value)
                        || StringCompareFormat(d.description) == StringCompareFormat(value))
                        && StringCompareFormat(d.unitOfMeasurementId) != StringCompareFormat(id)).length == 0;
                }
            });

        $.validator.unobtrusive.adapters.add('isuniqueuomcode',
            function (options) {
                options.rules['isuniqueuomcode'] = options.params;
                if (options.message != null) {
                    $.validator.messages.isuniqueuomcode = options.message;
                }
            }
        );
         jQuery.validator.addMethod("isuniqueuom",
            function (value, element, param) {
                var tblJsonData = @Html.Raw(Json.Serialize(Model.UnitOfMeasurements));
                var id = $("#UnitOfMeasurementId").val().trim();
                var isCreate = id == null || id == "" || id == "0";
                var message = $(element).attr('data-val-isuniqueuom');
                $.validator.messages.isuniqueuom = $.validator.format(message, value);
                if (isCreate) {
                    return tblJsonData.filter(d => StringCompareFormat(d.description) == StringCompareFormat(value)
                    || StringCompareFormat(d.code) == StringCompareFormat(value)).length == 0;
                } else {
                    return tblJsonData.filter(d => (StringCompareFormat(d.description) == StringCompareFormat(value)
                        || StringCompareFormat(d.code) == StringCompareFormat(value))
                        && StringCompareFormat(d.unitOfMeasurementId) != StringCompareFormat(id)).length == 0;
                }
            });

        $.validator.unobtrusive.adapters.add('isuniqueuom',
            function (options) {
                options.rules['isuniqueuom'] = options.params;
                if (options.message != null) {
                    $.validator.messages.isuniqueuom = options.message;
                }
            }
        );
        $(document).ready(function () {

            var successedAlertMessage = "@ViewBag.SuccessedAlertMessage";
            AlertSnackBarByActionName(successedAlertMessage);

            @*var actionName = "@Model.BtnActionName";
            if (actionName.toLowerCase().trim() == "delete") {
                $("#departmentName").attr("readonly", true);
            }*@
        });
    </script>
}


