@model HMS.Models.Nurse.PatientVitalInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_HMSMainLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PatientVitalInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorAppointmentData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorAppointmentData.AppointmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VitalSignDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VitalSignDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitOfMeasurementDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitOfMeasurementDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VitalSignDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VitalSignDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientVitalInfoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
