@model IEnumerable<HMS.Models.Administration.GeneralService>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HMSMainLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GeneralServiceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralServicePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralServiceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralServicePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GeneralServiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GeneralServiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GeneralServiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
